.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #ffffaa;
    border: .15em solid #ffad33;
    color: #17170f;
    text-align: center;
    border-radius: .6em;
    padding: .2em .8em;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
